body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
    background-color: rgb(111, 124, 138);
    display: flex;
    align-content: center;
}

#peliculas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;     
    padding: 5%;
}


.movieCard {

    padding: 5%;
}

#pelicula {
    border: solid 1px gray;
    display: flex;

}

img {
    width: 20vw;
    height: 20vw;

}

form {
    padding: 10%;
}

#editMovies {
    display: none;

}